* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", "Arial";
}

nav {
  background: hsla(60,3%,46.5%,0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 1rem;
}

nav h3 {
  font-size: 1.8rem;
}

ul {
  display: flex;
  gap: 1rem
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  background-color: #DDDAD0;
  border: 2px solid black;
  padding: 0.6rem;
  border-radius: 6px;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-content: center;
  background: url('assets/komodo0.jpg') center no-repeat;
  height: 50vh;
}
